!!! 5
%html
  %head
    %title I Am What I Like
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body
  -if flash[:notice]
    #notice
      = flash[:notice]
  #user_nav
    - if current_user
      Welcome, #{current_user.name}! #{link_to "Sign Out", signout_path}
    - else
      = link_to "Sign in with Twitter", "/auth/twitter"


  = yield

